/vendor
/node_modules

/.env
/.env.*
!/.env.example
/auth.json

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

/bootstrap/cache/*.php
/public/hot
/public/build

/.phpunit.cache
/coverage
